.toggle-checkbox {
  height: 0;
  width: 0;
  opacity: 0;
  box-sizing: content-box;
}
.toggle {
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 10px;
  background-color: #4fd1c5;
  right: 50%;
  transition: all 0.3s;
  box-sizing: content-box;
}
.toggle-switch {
  border: solid 2px #4fd1c5;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  padding: 3px;
  width: 40px;
  height: 20px;
  box-sizing: content-box;
}
.toggled .toggle {
  right: 3px;
  box-sizing: content-box;
  background-color: #fff;
}
.toggled {
  background-color: #4fd1c5;
}
.signup__button {
  margin-top: 36px;
  border-radius: 12px;
  padding: 18px 0;
  width: 100%;
  color: #fff;
  background-color: #4fd1c5;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.signup-form h2 {
  margin-top: 20px;
  font-size: 16px;
  color: #a0aec0;
}
.signup-form h2 a {
  color: #4fd1c5;
  text-decoration: none;
}